
body {
  height: 100%;
  display: flex;
  font-family: Arial, sans-serif;
  margin: 0;
  flex-direction: column;
 
  background-image: 
    url('../images/fond-R.png'),    
    url('../images/fond-R.jpg'); 
  
  background-repeat: 
    no-repeat,  
    repeat;     
  
  background-position: 
    bottom center,  
    top left;     
  
  background-size: 
    auto,          
    auto;           
}

h1 {
    text-align: center;
    color: #f8d77e;
    margin-top: 20px;
    text-shadow: 2px 2px 4px #000;
}

p{
  color: white;
  margin: 20px auto;
  max-height: 40px auto;
  max-width: 1000px;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.45;
  background: rgba(181, 179, 210, 0.6);
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}



.timeline-horizontal {
    display: flex;
    overflow-x: auto;
    padding: 20px;
    gap: 15px;
    border-radius: 12px;
    background: rgba(181, 179, 210, 0.6);
    min-height: 150px;
    margin: 20px;
    margin-bottom: 70px;
    justify-content: center;
    
}
.timeline-horizontal::-webkit-scrollbar {
    height: 10px;
}
.timeline-horizontal::-webkit-scrollbar-thumb {
    background: #4b2ca1;
    border-radius: 5px;
}


.timeline-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    font-size: larger;
}

.date-label {
    font-weight: bold;
    margin-bottom: 14px;
    text-align: center;
    color: white;
}

.events-bar {
    width: 50px; 
    height: 120px;
    background: #ecf0f1;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding-bottom: 5px;
    align-self: center;
}

.event-block {
    width: 100%;
    min-height: 20px;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    font-size: 10px;
    color: #fff;
}


.event-block.meteorite { background-color: #6f00ff; }
.event-block.bolide { background-color: #3498db; }
.event-block.solaire { background-color: #ff00d9; }
.event-block.lunaire { background-color: #f074c0; }

.event-block:hover {
    transform: scale(1.1);
    z-index: 10;
    color: #fff;
}


.popup-tabs {
    margin-top: 70px;
    margin-bottom: 10px;
    margin-left: 20px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    

    
}
.popup-tabs .tab-btn {
    padding: 5px 15px;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid #333;
    background-color: #f074c0;
    color: white;
    width:max-content;
    
}
.popup-tabs .tab-btn.active {
    background: #de07e9;
    
}


.popup {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-image: url('../images/SKY.jpg');
    background-size: cover; 
    border-radius: 10px;
    padding: 20px;
    z-index: 2000;
    max-width: 500px;
    max-height: 80vh;    
    overflow: hidden; 

    box-shadow: 0 5px 20px rgba(0,0,0,0.5);

    .tab-content {
        max-height: 60vh;       
        overflow-y: auto;       
        overflow-x: hidden;
        padding-right: 5px; }

    .closePopup {
        position: absolute;
        top: 8px;
        right: 12px;
        font-size: 20px;
        cursor: pointer;
        color: white;
        font-weight: bold;
    }

    .closePopup:hover { color: #f8d77e;}




    .tab-table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 10px;
        color: white;
    
    }

    .tab-table th {
        background-color: rgba(255,255,255,0.2);
        text-align: left;
    }

    .tab-table th, .tab-table td {
        background-image: url('images/SKY.jpg');
        border: 1px solid #333;
        padding: 5px;
        padding: 8px;
        font-size: 0.9rem;
    }
    #popupDate {
        color: white;
        text-align: center;


    }

}