
body {
  height: 100%;
  display: flex;
  font-family: Arial, sans-serif;
  color: #f5f5f5;
  margin: 0;
  
  /* MULTIPLE BACKGROUNDS */
  background-image: 
    url('../images/fond-F.png'),     /* image finale : la maison */
    url('../images/fond-R.jpg'); /* pattern répétitif : ciel et nuages */
  
  background-repeat: 
    no-repeat,  /* la maison ne se répète pas */
    repeat;     /* le pattern se répète */
  
  background-position: 
    bottom center,  /* la maison en bas au centre */
    top left;       /* le pattern commence en haut à gauche */
  
  background-size: 
    auto,           /* la maison garde sa taille originale */
    auto;           /* le pattern garde sa taille originale */
  
  flex-direction: column;
}



/* CONTENU PRINCIPAL */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 60px;
  color: #f8d77e;
  margin-top: 10px; 
}

.hero p {
  margin-bottom: 80px; 
}


.hero img {
  width: 170px;
  height: 220px;
  border: 3px solid #f8d77e;
  margin: 10px; /* ajoute 10px tout autour de chaque image */
  object-fit: cover; /* pour que l'image garde ses proportions */
  border-radius: 5px; /* optionnel, arrondir les coins un peu */
}

.images-droite img {
  width: 170px;
  height: 220px;
  border: 3px solid #f8d77e;
  object-fit: cover;
  border-radius: 5px;
  
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* transition douce */
}

.images-droite img:hover {
  transform: translateY(-10px); /* soulève l'image de 10px */
  box-shadow: 0 15px 25px rgba(0,0,0,0.3); /* ajoute une ombre portée */
}

.images-droite img {
 width: 170px;
  height: 220px;
  border: 3px solid #f8d77e;
  object-fit: cover;
  border-radius: 5px;
}
