  /* page a formulaire*/
  form {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px 25px;
    
    background-color: rgba(232, 240, 255, 0.916);
    border: 2px solid #6a7bc4;                  
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
    font-family: Georgia, serif;
    color: #3b2a1a;
}



form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color:  #6a7bc4;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"],
form textarea,
form select {
    width: 100%;
    padding: 10px 14px;
    margin-bottom: 15px;

    background-color: #fffef7;
    border: 1px solid #6a7bc4;
    border-radius: 6px;
    font-size: 15px;
    font-family: Georgia, serif;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
}

form input:focus, 
form textarea:focus, 
form select:focus {
    border-color: #6a7bc4;
    outline: none;
    box-shadow: 0px 0px 6px rgba(128, 95, 62, 0.5);
}

/* Boutons : style ancien parchemin */
form input[type="submit"],
form button {
    background-color: #4e63be;
    color: #fff;
    border: 1px solid#6a7bc4;
    padding: 10px 18px;
    font-size: 16px;
    font-family: Georgia, serif;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
}

form input[type="submit"]:hover,
form button:hover {
    background-color: #adc1ef; /* Or brillant */
    color: #3b2a1a;
    border-color: #3b2a1a;
}
