body {
  height: 100%;
  display: flex;
  font-family: Arial, sans-serif;
  color: #f5f5f5;
  margin: 0;
  
  /* MULTIPLE BACKGROUNDS */
  background-image: 
    url('../images/fond-F.png'),     /* image finale : la maison */
    url('../images/fond-R.jpg'); /* pattern répétitif : ciel et nuages */
  
  background-repeat: 
    no-repeat,  /* la maison ne se répète pas */
    repeat;     /* le pattern se répète */
  
  background-position: 
    bottom center,  /* la maison en bas au centre */
    top left;       /* le pattern commence en haut à gauche */
  
  background-size: 
    auto,           /* la maison garde sa taille originale */
    auto;           /* le pattern garde sa taille originale */
  
  flex-direction: column;
}


  
main {
  flex: 1; /* prend tout l’espace disponible */
}

/* CONTENU PRINCIPAL */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 60px;
  color: #f8d77e;
}


