body {
    margin: 0;
    padding: 0;
    background: url("../images/fond-index.png") no-repeat center center fixed;
    background-size: cover;
    font-family: "Inter", Arial, sans-serif;
    color: #fff;
}



/* CONTENU PRINCIPAL */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 60px;
  color: #f8d77e;
  margin-top: 10px; 
}

.hero p {
  margin-bottom: 80px; 
}


.hero img {
  width: 170px;
  height: 220px;
  border: 3px solid #f8d77e;
  margin: 10px; /* ajoute 10px tout autour de chaque image */
  object-fit: cover; /* pour que l'image garde ses proportions */
  border-radius: 5px; /* optionnel, arrondir les coins un peu */
}

.images-droite img {
  width: 170px;
  height: 220px;
  border: 3px solid #f8d77e;
  object-fit: cover;
  border-radius: 5px;
  
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* transition douce */
}

.images-droite img:hover {
  transform: translateY(-10px); /* soulève l'image de 10px */
  box-shadow: 0 15px 25px rgba(0,0,0,0.3); /* ajoute une ombre portée */
}

.images-droite img {
 width: 170px;
  height: 220px;
  border: 3px solid #f8d77e;
  object-fit: cover;
  border-radius: 5px;
}
